*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

header{
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .draw-space-initialization{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(218, 218, 218);;
    border-radius: 8px;
    box-shadow: 1px 1px 15px 6px rgb(218 218 218);;
}
.draw-space-initialization .buttons{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.buttons .pen-color-card, .buttons .canvas-color-card{
    width: 12rem;
    position: relative;
}
.buttons input{
    height: 2.5rem;
    width: 4.5rem;
    border: 0px;
}
.buttons input:hover{
    cursor: pointer;
}
.buttons label{
    position: absolute;
    top: 10px;
    left: 80px;
}

.draw-space-initialization .slidecontainer{
    font-size: 1.1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.slidecontainer button{
    font-size: 0.8em;
    background-color: #00ffff;
    height: 2rem;
    border: 1px solid;
}
.slidecontainer button:hover{
    cursor: pointer;
}

main .draw-area{
    height: 35em;
    width: 35em;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 8px 11px rgb(218, 218, 218);
}
.draw-area div{
    flex-shrink: 0;
}